
.row {
  display: flex;
  flex-wrap: wrap;
}

.infoBox {
  width: 60%;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}
/* 
.imagenFondo{
  width: 100%;
  position: absolute;
  z-index: -1;
} */

.infoBox iframe{
  width: 650px;
  height: 315px;
}

.movieInfo {
  width: 60%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 30%;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.name {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.movieImage {
  width: 85%;
  margin: 5px;
}

.movieInfo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movieInfo li {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.movieInfo li strong {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.buttonContainer {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.figure{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}