@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		box-sizing: border-box
	}
	html, body {
		margin: 0;
		padding: 0;
		font-family: "Montserrat", sans-serif;
	}
	h1 {
		@apply dark:text-white text-slate-900 text-3xl font-bold md:text-4xl;
	}
	h2 {
		@apply dark:text-white text-slate-900 text-2xl font-bold md:text-3xl;
	}
	h3 {
		@apply dark:text-white text-slate-900 text-xl font-bold md:text-2xl;
	}
	h4, label {
		@apply dark:text-white text-slate-900 font-bold text-xl;
	}
	p, span {
		@apply dark:text-white text-slate-900 text-base font-bold md:text-lg;
	}
	a {
		@apply dark:text-white text-slate-900 decoration-transparent;
	}
}

@layer utilities {
	.btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 transition-colors;
  }
}