.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid black;
}

.boxButtom {
  width: 100%;
}

.buttonSuscription {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
  background-color: gold;
  border-radius: 5px;
}

.black {
  color: white;
  background-color: black;
  border: 1px solid gold;
  font-size: 100px;
}

.gold {
  color: black;
  background-color: gold;
  border: 1px solid black;
  font-size: 100px;
}
