.footer {
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.box__footer .logo img {
  width: 180px;
  height: auto;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 1px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer .terms p {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  text-decoration: none;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.footer hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}
