.carouselContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indexButton {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.indexButton.active {
  opacity: 1;
}

.containerInfo {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: rgb(223, 216, 216);
  border-radius: 5px;
}

.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carouselImage.active {
  opacity: 1;
}

