.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 4rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.boxInfo {
}

.input {
  width: 100%;
  border: 1px solid black;
}

.containerButton {
  position: relative;
  width: 40%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.buttom {
  width: 100%;
  height: 50px;
  background-color: green;
  margin: 0 2rem;
  text-align: center;
}
