/* About.module.css */

.h1 {
  color: #656060;
}

.descrip {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 80%;
  text-align: justify;
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member {
  width: 100%;
  max-width: 350px;
  padding: 30px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('../../assets/fondoClaroAbout.jpg');
  background-size: cover;
  background-position: center;
  align-content: center;
}

.member img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.member h2 {
  font-size: 25px;
  margin-bottom: 1px;
  margin-top: -1px;
}

.member p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLinks a {
  display: inline-block;
  margin-right: 10px;
}

.socialLinks img {
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

/* Media queries */

@media (max-width: 768px) {
  .members {
    justify-content: space-between;
  }

  .member {
    flex: 10 0 20%; /* Cambiamos el ancho a un porcentaje para que se ajuste a la pantalla */
    max-width: 60%;
  }
}

@media (max-width: 480px) {
  .members {
    flex-direction: column;
    align-items: center;
  }

  .member {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
