/* About.module.css */

.about {
  text-align: center;
}

.h1 {
  color: #656060;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descrip {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: large;
  max-width: 900px; /* Ajusta este valor según tus necesidades */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member {
  width: 290px;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url('../../assets/fondoClaroAbout.jpg');
  background-size: cover;
  background-position: center;
}

.member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.member h2 {
  font-size: 20px;
  font-family: cursive;
  margin-bottom: 1px;
  margin-top: -1px;
}

.member p {
  font-size: 14px;
  color: #777;
  font-family: cursive;
  margin-bottom: 10px;
}

.socialLinks a {
  display: inline-block;
  margin-right: 10px;
}

.socialLinks img {
  width: 25px;
  height: 25px;
}
