
.button{
    color: white;
    border: 2px solid rgb(38, 40, 38);
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #625f56b0;
}
.container h2{
    padding: 0 50px 20px;
    background-color: #7c7868;
    width: 100%;
    font-size: 20px;
}
.cards h3{
    background-image: radial-gradient(circle at 120.71% 50%, #ffffff 0, #ffffff 12.5%, #ffffff 25%, #ffffff 37.5%, #ffffff 50%, #e2eeea 62.5%, #caded5 75%, #b6d1c2 87.5%, #a8c5b1 100%);
    padding-left: 10%;
    font-size: 15px;
}
.cart{
    background-color: rgb(173, 136, 206);
    text-align:center;
    width: 300px;
    padding: 20px;
    margin-left: 70%;
    position: absolute;
}